h1 {
    background-color: red; color: burlywood;
}
h2 {
    background-color: orange; color: #684e2f;
}
h3 {
    background-color: yellow; color: #f90;
}
h4 {
    background-color: green; color: #000f;
}
h5 {
    background-color: blue; color: #f1ff7a3e;
}
h6 {
    background-color: indigo; color: rgb(120, 200, 255);
}
p {
    background-color: violet; color: rgba(130, 220, 180, 0.8);
}
span {
    color: hotpink;
}
div {
    border-style: solid; border-width: 5px; border-color: green;
}
li.odd {
    background-color: peachpuff;
}